main{
    padding: 3rem 1.5rem 5rem 26rem;
    width: calc(100% - 5rem);
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    transition: var(--tran-05);
    display: grid;
    grid-template-columns: 1.4fr 0.7fr;
    gap: 4rem;
}
.content__main{
    display: flex;
    flex-direction: column;
    gap: 4rem
}
.content__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3.title{
    color: var(--clr-base);
    font-weight: bold;
    font-size: 2.1rem;
    text-transform: capitalize;
}
.content__title h2{
    color: var(--clr-base-dark);
    font-weight: bold;
    font-size: 2.7rem;
}
.content__action{
    gap: 1rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
}
.sidebar.close ~ main{
    padding: 3rem 1.5rem 5rem 10rem;
    width: calc(100% - 2rem);
}
.courses{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.courses h2{
    font-size: 2rem;
    color: var(--clr-base);
}
.courses__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 2rem;
}
.courses__item{
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
.courses__list .courses__item:nth-child(1){
    background-color: var(--clr-orange-light);
}
.courses__list .courses__item:nth-child(2){
    background-color: var(--clr-primary-light);
}
.courses__list .courses__item:nth-child(3){
    background-color: var(--clr-blue-light);
}
.courses__item .courses__cover{
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
    width: 100%;
    height: calc(10rem + 8vh);
    object-fit: cover;
}
.courses__list .courses__item:nth-child(1) .courses__cover{
    background-color: var(--clr-orange);
}
.courses__list .courses__item:nth-child(2) .courses__cover{
    background-color: var(--clr-primary);
}
.courses__list .courses__item:nth-child(3) .courses__cover{
    background-color: var(--clr-blue);
}
.courses__item p{
    color: var(--clr-base-light);
    font-size: 1.2rem;
}
.courses__item h4{
    color: var(--clr-base);
    text-transform: capitalize;
}
.courses__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.courses__footerAvatar{
    display: flex;
}
.courses__footerAvatar .courses__footerLink{
    -webkit-transition: var(--tran-02);
    -moz-transition: var(--tran-02);
    -o-transition: var(--tran-02);
    -ms-transition: var(--tran-02);
    transition: var(--tran-02);
}
.courses__footerAvatar .courses__footerLink:nth-child(1){
    z-index: 1;
}
.courses__footerAvatar .courses__footerLink:nth-child(2){
    margin-left: -1rem;
    z-index: 2;
}
.courses__footerAvatar .courses__footerLink:nth-child(3){
    margin-left: -1rem;
    z-index: 3;
}
.courses__footerAvatar img{
    box-shadow: 0 0 1rem 0 rgb(40 38 41 / 43%);
    border-radius: 50%;
    height: 4rem;
}
.courses__footerAvatar img:hover{
    animation: moveAvatar 1s ease-in-out;
}
.avatar--clr1{
    background-color: #C3D1FF;
}
.avatar--clr2{
    background-color: #D5C9FD;
}
.avatar--clr3{
    background-color: #94E1C9;
}
.avatar--clr4{
    background-color: #FFD0C9;
}
.courses__footer .btn{
    padding: 1rem 1.5rem;
    color: var(--clr-white);
}
.courses__list .courses__item:nth-child(1) .btn{
    background-color: var(--clr-orange);
}
.courses__list .courses__item:nth-child(2) .btn{
    background-color: var(--clr-primary);
}
.courses__list .courses__item:nth-child(3) .btn{
    background-color: var(--clr-blue);
}
/**** my courses ****/
.mycourses{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.mycourses__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mycourses__link{
    color: var(--clr-primary);
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table thead tr{    
    text-align: left;
    color: var(--clr-base-light);
}
.table thead th,.table tbody td{
    padding: 1.2rem 1rem;
}
.table thead th{
    font-size: 1.4rem;
}
.table tbody td{
    font-size: 1.4rem;
    color: var(--clr-base-dark);
    font-weight: bold;
    -webkit-transition: var(--tran-02);
    -moz-transition: var(--tran-02);
    -o-transition: var(--tran-02);
    -ms-transition: var(--tran-02);
    transition: var(--tran-02);
}
.table tbody tr td:first-child{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mycourses__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.mycourses__logo{
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    transition: var(--tran-05);
}
.mycourses__info p{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-base-light);
}
.mycourses__logo--purple{
    background-color: var(--clr-primary-light);
}
.mycourses__logo--purple i{
    color: var(--clr-primary);
}
.mycourses__logo--blue{
    background-color: var(--clr-blue-light);
}
.mycourses__logo--blue i{
    color: var(--clr-blue);
}
.mycourses__logo--pink{
    background-color: #ffe4fd;
} 
.mycourses__logo--pink i{
    color: #e59dde;
}
.mycourses__logo--orange{
    background-color: var(--clr-orange-light);
}
.mycourses__logo--orange i{
    color: var(--clr-orange);
}
.mycourses tr.tr--active{
    -webkit-transition: var(--tran-02);
    -moz-transition: var(--tran-02);
    -o-transition: var(--tran-02);
    -ms-transition: var(--tran-02);
    transition: var(--tran-02); 
    box-shadow: 0 0 1rem 0 #e5b6e5;
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
    cursor: pointer;
}
.table tbody tr.tr--active td{
    transition: none;
}
.mycourses tr.tr--active:hover td:first-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mycourses tr.tr--active:hover td:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
} 
.mycourses tr.tr--active .mycourses__logo {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
}
.mycourses tr:hover td{
    background-color: var(--clr-primary-light);
    color: var(--clr-primary);
    cursor: pointer;
}
.mycourses tr:hover td:first-child{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.mycourses tr:hover td:last-child{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
} 
.mycourses tr:hover td .mycourses__logo{
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 11%);
}

@keyframes moveAvatar {
    35%, 65% {
        transform: rotateZ(-7deg) translateY(-0.3rem);
    }
    
    25%, 50%, 75% {
        transform: rotateZ(7deg) translateY(-0.3rem);
    }
}