.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    padding: 3rem 1.5rem 0;
    z-index: 100;
    -webkit-transition: var(--tran-05);
    -moz-transition: var(--tran-05);
    -o-transition: var(--tran-05);
    -ms-transition: var(--tran-05);
    transition: var(--tran-05);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
header{
    position: relative;
}
.sidebar__title{
    display: flex;
    display: -ms-flexbox;
    gap: 1rem;
    align-items: center;
}
.sidebar__logo{
    position: relative;
    display: flex;
    display: -ms-flexbox;
}
.sidebar__logo i{
    font-size: 2rem;
    transform: rotate(45deg);
}
.sidebar__logo i:nth-child(1){
    color: var(--clr-primary);
    z-index: 1;
}
.sidebar__logo i:nth-child(2){
    color: var(--clr-primary-light);
}
.sidebar__logoText span{
    font-size: 2rem;
    color: var(--clr-base);
    font-weight: bold;
}
.toggle{
    position: absolute;
    top: 50%;
    right: -3.1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-primary-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: var(--tran-02);
    -moz-transition: var(--tran-02);
    -o-transition: var(--tran-02);
    -ms-transition: var(--tran-02);
    transition: var(--tran-02);
}
.sidebar:hover .toggle{
    visibility: visible;
    opacity: 1;
}
.sidebar .textNav{
    white-space: nowrap;
    opacity: 1;
    -webkit-transition: var(--tran-03);
    -moz-transition: var(--tran-03);
    -o-transition: var(--tran-03);
    -ms-transition: var(--tran-03);
    transition: var(--tran-03);
}
.sidebar.close .textNav{
    opacity: 0;
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
.sidebar.close{
    height: 100vh;
    width: 8rem;
    box-shadow: 0 0 1rem 0 #8a70d675;
}
.sidebar__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}
.sidebar__menuList{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sidebar__menuLink{
    height: 4rem;
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: inset 0 0 0 0 var(--clr-primary-light);
    -webkit-transition: all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    transition: all 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    border-radius: 1rem;
}
.sidebar__menuLink:hover,.sidebar__menuLink--active{
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: inset 20rem 0 0 0 var(--clr-primary-light);
    background: var(--clr-primary-light);
}
.sidebar__menuLink:hover a, .sidebar__menuLink--active a{
    color: var(--clr-base-dark) !important;
}
.sidebar__menuLink a{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--clr-base-light);
    font-size: clamp(1rem, 5vw, 1.5rem);
    -webkit-transition: var(--tran-02);
    -moz-transition: var(--tran-02);
    -o-transition: var(--tran-02);
    -ms-transition: var(--tran-02);
    transition: var(--tran-02); 
}
.sidebar__menuLink a i{
    min-width: 5rem;
    display: flex;
    justify-content: center;
}
.sidebar__menuBottom{
    background-color: var(--clr-primary-light);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
    padding-bottom: 1rem;
    position: relative;
    top: 7rem;
    height: 28vh;
}
.sidebar__menuBottom p{
    white-space: break-spaces;
    text-align: center;
    font-size: clamp(0.8rem, 5vw, 1.3rem);
}
.sidebar__menuBottom h3{
    white-space: break-spaces;
    text-align: center;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
}
.sidebar__menuBottom img{
    position: absolute;
    top: -13rem;
}
